VITE_APP_NAME='AICP'
VITE_SHORT_APP_NAME='PNVTECH'
VITE_NAME='Aquascape AI Platform'
VITE_BASE_URL_API=https://aquascape-api-latest.onrender.com/api/v1

VITE_BACKEND_URL=https://aquascape-api-latest.onrender.com